@media (max-width: 540px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }

  .weather-details-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .navbar-container {
    flex-direction: column;
  }

  .navbar-container > img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .showcase-container {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .showcase-container .showcase-text > h2:first-child {
    font-size: 3rem;
    font-weight: 700;
    color: #2a394f;
  }
  .showcase-container .showcase-text > h2:last-child {
    font-size: 3.5rem;
    font-weight: 700;
    color: #2a394f;
  }

  .showcase-container .showcase-text > p {
    margin-bottom: 10px;
    font-size: 0.825rem;
  }

  .showcase-container > img {
    width: 180px;
  }

  .hourty-forecast-container {
    padding: 20px;
  }

  .hourty-forecast-container .hour-weather-item > img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .hourty-forecast-container .hour-weather-item > p:first-child {
    font-size: 0.825rem;
  }

  .hourty-forecast-container .hour-weather-item > p:last-child {
    font-size: 1.5rem;
  }
}
